@using System.Security.Claims
@model IEnumerable<MVCmasr.Models.Album>

@{
    ViewData["Title"] = "Albums Details";
    Layout = "_Register";
}

@section Styles {
    <link href="@Url.Content("~/Styles/Album/albumsDetails.css")" rel="stylesheet" type="text/css" />
}


<div class="create-new-album">
    <a class="btn" asp-action="New">Create New Album</a>
</div>

<table class="albums-details-table table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountInStock)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td class="table-album-image">
                    <img src="@item.Image" style="width:50px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongsNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountInStock)
                </td>
                <td class="album-table-action-links">
                    <a asp-controller="Album" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Album" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Album" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
