@model MVCmasr.ViewModels.SongGenreAlbumArtistViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Song</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEdit" enctype = "multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Song.Id" />
            <div class="form-group">
                <label asp-for="@Model.Song.Title" class="control-label"></label>
                <input asp-for="@Model.Song.Title" class="form-control" />
                <span asp-validation-for="@Model.Song.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Song.ReleaseDate" class="control-label"></label>
                <input asp-for="@Model.Song.ReleaseDate" class="form-control" />
                <span asp-validation-for="@Model.Song.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.Song.IsFeatured" /> @Html.DisplayNameFor(model => model.Song.IsFeatured)
                </label>
            </div>

            <div class = "form-group">
            <label asp-for = "@Model.Song.AudioFile"></label>
            <input asp-for = "@Model.Song.AudioFile" class = "form-control" accept = "audio/*"/>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Song.Artists" class="control-label"></label>
                <select asp-for="@Model.SelectedArtistsIds" class="form-control" multiple >
                @foreach (var artist in @Model.Artists)
               {
                    if(@Model.SelectedArtistsIds.Contains(artist.Id))
                   {
                        <option selected value = "@artist.Id">@artist.Name</option>
                    }
                    else
                    {
                        <option value = "@artist.Id">@artist.Name</option>
                            
                    }
               }
                </select>
                <span asp-validation-for="@Model.Song.Artists" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Song.Genre" class="control-label"></label>
                <select asp-for="@Model.SelectedGenreId" class="form-control"  >
                @foreach (var genre in @Model.Genres)
               {
                     if(@Model.SelectedGenreId == genre.Id)
                   {
                        <option selected value = "@genre.Id">@genre.Name</option>
                    }
                    else
                    {
                        <option value = "@genre.Id">@genre.Name</option>
                            
                    }
               }
                </select>
                <span asp-validation-for="@Model.Song.Genre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Song.Album" class="control-label"></label>
                <select asp-for="@Model.SelectedAlbumId" class="form-control"  >
                @foreach (var album in @Model.Albums)
               {
                     if(@Model.SelectedAlbumId == album.Id)
                   {
                        <option selected value = "@album.Id">@album.Title</option>
                    }
                    else
                    {
                        <option value = "@album.Id">@album.Title</option>
                            
                    }
               }
                </select>
                <span asp-validation-for="@Model.Song.Album" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
