@model List<MVCmasr.ViewModels.Order.OrderItemsSession>

@{
    ViewData["Title"] = "Cart";
}


@section Styles{
    <!-- Css Styles -->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_flaticon.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_barfiller.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/cart/cart_style.css" type="text/css">
}


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Shopping cart</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < @ViewBag.Albums.Count; i++)
                               {
                                    <tr id="tableRow">
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic" style="width: 10rem; height: 10rem;">
                                                <img src="@ViewBag.Albums[i].Image" alt="">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6>@ViewBag.Albums[i].Title</h6>
                                                <h5>$@ViewBag.Albums[i].Price</h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty" id="pro-qty">
                                                    <input type="hidden" value="@ViewBag.Quantities[i]" id="@ViewBag.Albums[i].Id" name="inp">
                                                    <input type="number" min="0" class="form-control" style="border: 1px solid black;" value="@ViewBag.Quantities[i]" id="@ViewBag.Albums[i].Id" name="inp" onchange="updateQuantity(event)">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price" id="@ViewBag.Albums[i].Id+pri">$ @ViewBag.Prices[i]</td>
                                        <td class="cart__close"><span class="icon_close" style="cursor: pointer;" id="@ViewBag.Albums[i].Id" onclick="removeItem(event)">X</span></td>
                                    </tr>
                               }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a asp-controller="Album" asp-action="Index">Continue Shopping</a>
                            </div>
                        </div>
                        <div id="dataFromAjax">
                            <h2></h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                @*<a asp-controller="Order" asp-action="Cart"><i class="fa fa-spinner"></i> Update cart</a>*@
                                <div class="continue__btn update__btn" style="cursor: pointer;" onclick="updateCart()"><a><i class="fa fa-spinner"></i> Update cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>$ @ViewBag.TotalPrice</span></li>
                            <li>Total <span>$ @ViewBag.TotalPrice</span></li>
                        </ul>
                        <a asp-controller="Order" asp-action="Checkout" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->


    @section Scripts{
        <!-- Js Plugins -->
        <script src="~/Layout/js/cart/jquery.nice-select.min.js"></script>
        <script src="~/Layout/js/cart/jquery.barfiller.js"></script>
        <script src="~/Layout/js/cart/jquery.magnific-popup.min.js"></script>
        <script src="~/Layout/js/cart/jquery.slicknav.js"></script>
        <script src="~/Layout/js/cart/jquery.nicescroll.min.js"></script>
        <script src="~/Layout/js/cart/main.js"></script>


        <script>
            window.onload = () => {
               var oldQuantities = [];
               var qtyElements = document.getElementsByClassName("pro-qty");
               for(var i=0; i<qtyElements.length; i++){
                   qtyElements[i].firstElementChild.setAttribute("style", "display: none");
                   qtyElements[i].lastElementChild.setAttribute("style", "display: none");
                   oldQuantities.push(qtyElements[i].querySelector('input[name="inp"]').value);
               }
            }

            var oldQuantity = 0, quantity = 1, albumId = 1, price = 0;

            function updateQuantity(){
                oldQuantity = +(event.target.previousElementSibling.value);
                    console.log(oldQuantity);
                quantity = event.target.value;
                albumId = event.target.id;
                price = event.target.id;
            }

        //        //var quantity = document.getElementsByClassName("albumQuantity").value;
        //        var quantities = document.getElementsByClassName("albumQuantity");
        //        for(var i=0; i<quantities.length; i++){
        //        console.log(quantities);
        //            $.ajax({
					   // url: "Url.Action("Order", "ChangeQuantity")",
        //                data: quantities[i].value
				    //}).done(function (data) {
					   // console.log(quantities[i].value);
				    //});
        //        }



            function updateCart(){
                    $.ajax({
					url: "@Url.Action("ChangeQuantity", "Order")",
                    data: {
                            "albumId": albumId,
                            "quantity": quantity,
                            "oldQuantity": oldQuantity
                            }
				}).done(function (result) {
                        window.location.reload();
                    });
                }
                
                function removeItem(){
                    $.ajax({
					url: "@Url.Action("RemoveItem", "Order")",
                    data: {
                            "albumId": event.target.id
                            }
				}).done(function (result) {
                        window.location.reload();
                    });
                }
        </script>
    }