@using MVCmasr.Context
@model List<MVCmasr.ViewModels.Order.OrderItemsSession>

@{
    ViewData["Title"] = "Checkout";
    ViewBag.Discount = @ViewBag.TotalPrice - 5;
}

@section Styles{
    <link rel="stylesheet" href="~/Layout/css/cart/cart_style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="~/Layout/css/checkout/checkout.css" type="text/css">
}


<!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
<div class="container d-lg-flex">
    <div class="box-1 bg-light user">
        <div class="d-flex align-items-center mb-3"> <img src="https://images.pexels.com/photos/4925916/pexels-photo-4925916.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="pic rounded-circle" alt="">
            <p class="ps-2 name">@ViewBag.User.Name</p>
        </div>
        <div class="box-inner-1 pb-3 mb-3 ">
            @for (var i = 0; i < @ViewBag.Albums.Count; i++)
            {
                <div class="d-flex justify-content-between mb-3 userdetails">
                    <p class="fw-bold">@ViewBag.Albums[i].Title</p>
                    <p class="fw-lighter"><span class="fas fa-dollar-sign"></span>@ViewBag.Albums[i].Price</p>
                </div>
                <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel" data-bs-interval="2000">
                    <div class="carousel-indicators"> 
                        <button type="button" data-bs-target="#my" data-bs-slide-to="@ViewBag.Albums[i].Id" class="active" aria-current="true" aria-label="Slide 1"></button> 
                        @*<button type="button" data-bs-target="#my" data-bs-slide-to="1" class="active" aria-label="Slide 2"></button> 
                        <button type="button" data-bs-target="#my" data-bs-slide-to="2" class="active" aria-label="Slide 3"></button>*@ 
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active"> <img src="@ViewBag.Albums[i].Image" class="d-block w-100"> </div>
                    </div> 
                    <button class="carousel-control-prev" type="button" data-bs-target="#my" data-bs-slide="prev">
                        <div class="icon bg-dark text-white"> <span class="fas fa-arrow-left"></span> </div> <span class="visually-hidden">Previous</span>
                    </button> <button class="carousel-control-next" type="button" data-bs-target="#my" data-bs-slide="next">
                        <div class="icon bg-dark text-white"> <span class="fas fa-arrow-right"></span> </div> <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }


            <div class="checkout__order bg-white">
                                <h6 class="order__title">Your order</h6>
                                <div class="checkout__order__products">Album <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    @for (var i = 1; i <= @ViewBag.Albums.Count; i++)
                                    {
                                        <li><samp>0@{@i}.</samp> @ViewBag.Albums[i-1].Title <span>$ @ViewBag.Prices[i-1]</span></li>
                                    }
                                    @*<li><samp>01.</samp> Vanilla salted caramel <span>$ 300.0</span></li>*@
                                </ul>
            </div>

        </div>
    </div>
    <div class="box-2">
        <div class="">


            <div class="row">
            
            <div class="checkout__order">



                                
            <form action="">
                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Email address</p> <input class="form-control" type="email" placeholder="aaa@aaa.com">
                </div>
                <div>
                    <p class="dis fw-bold mb-2">Card details</p>
                    <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                        <div class="fab fa-cc-visa ps-3"></div> <input type="text" class="form-control" placeholder="Card Details">
                        <div class="d-flex w-50"> <input type="text" class="form-control px-0" placeholder="MM/YY"> <input type="password" maxlength=3 class="form-control px-0" placeholder="CVV"> </div>
                    </div>
                    <div class="my-3 cardname">
                        <p class="dis fw-bold mb-2">Cardholder name</p> <input class="form-control" type="text">
                    </div>
                    <div class="address">
                        <p class="dis fw-bold mb-3">Billing address</p> <select class="form-select" aria-label="Default select example">
                            <option selected hidden>Cairo</option>
                            <option value="1">Alexandria</option>
                            <option value="2">Ash-Sharqia</option>
                            <option value="3">Port Said</option>
                            <option value="4">Aswan</option>
                        </select>
                        <div class="d-flex"> <input class="form-control zip" type="text" placeholder="ZIP"> <input class="form-control state" type="text" placeholder="State"> </div>
                        <div class="my-3">
                            <p class="dis fw-bold mb-2">Discount Code</p> 
                            <div class="inputWithcheck"> <input class="form-control text-uppercase" type="text" value="BLACKFRIDAY" id="discount"></div>
                        </div>
                        <div class="d-flex flex-column dis">
                             <ul class="checkout__total__all">
                                    <li>Subtotal <span>$@ViewBag.TotalPrice</span></li>
                                    <li>
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <div class="d-flex align-items-center">
                                                <p class="pe-2">Discount <span class="d-inline-flex align-items-center justify-content-between bg-light px-2 couponCode"> <span id="code" class="pe-2"></span> <span class="fas fa-times close"></span> </span> </p>
                                            </div>
                                            <span>$5.00</span>
                                        </div>
                                    </li>
                                    <li>Total <span>$@ViewBag.Discount</span></li>
                                </ul>
                        </div>

                         <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Check Payment
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                    </div>
                </div>
            </form>




                            </div>
                        </div>
                </div>




            
        </div>
    </div>
</section>
<!-- Checkout Section End -->


    @section Scripts{
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Layout/js/checkout/checkout.js"></script>
    }